build/classes/model/check/ValidityCheck.class
build/classes/model/dao/CategoryDAO.class
build/classes/model/dao/ConnectionManager.class
build/classes/model/dao/ConnectionManager.java.rej
build/classes/model/dao/SampleDAO.class
build/classes/model/dao/StatusDAO.class
build/classes/model/dao/TaskDAO.class
build/classes/model/dao/TaskDAOTest.class
build/classes/model/dao/UserDAO.class
build/classes/model/dao/UserDAOTest.class
build/classes/model/entity/CategoryBean.class
build/classes/model/entity/SampleBean.class
build/classes/model/entity/StatusBean.class
build/classes/model/entity/TaskBean.class
build/classes/model/entity/UserBean.class
build/classes/servlet/LoginServlet.class
build/classes/servlet/SampleServlet.class
build/classes/servlet/TaskAddServlet.class
build/classes/servlet/TaskAlterServlet.class
build/classes/servlet/TaskDeleteServlet.class
build/classes/servlet/TaskListServlet.class
